*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    max-width: 1200px;
    margin: 0 auto;
}
.coluna-um{
    background-color: rgb(132, 0, 255);
    height: 500px;
}
.coluna-dois{
    background-color: blue;
    height: 500px;
}

@media (orientation: portrait){
    header{
        display: flex;
    }
    .coluna-um{
        width: 100%;
    }
    .coluna-dois{
        display: none;
    }
    .cabecalho{
        background-color: red;
        height: 50px;
        font-size: 0;
    }
}

@media (orientation: landscape){
    header{
        display: flex;
    }
    .cabecalho{
        display: none;
    }
    .coluna-um{
        width: 50%;
    }
    .coluna-dois{
        width: 50%;
    }
}

@media print{
    .cabecalho{
        background-color: red;
        height: 50px;
        font-size: 30px;
    }
}

