*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.cabecalho{
    height: 100px;
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 30px;
}
header{
    color: green;
    font-size: 30px;
    margin: 0 150px 0 100px;
    border-top: 6px green solid;
    border-bottom: 5px green solid;
    padding: 5px;
}
.nav{
    margin-right: 70px;
    font-size: 20px;
    cursor: pointer;
}
.login{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.image{
    background-image: url(bg.jpeg);
    background-size: 100% auto;
    height: 220px;
    box-shadow: black 0px 3px 5px;
}
section{
    margin-top: 50px;
    text-align: center;
}
.titulo{
    font-size: 40px;
}
.conteudo{
    font-size: 23px;
    margin-top: 20px;
}
.botao{
    background-color: red;
    box-shadow: black 4px 4px 7px;
    color: white;
    width: 200px;
    height: 60px;
    margin: 20px auto 0 auto;
    font-size: 25px;
    line-height: 60px;
    cursor: pointer;
}
.color_botao{
    color: white;
}
.footer{
    background-color: rgb(230, 230, 230);
    padding: 30px 50px;
    margin-top: 70px;
}
.titulo_contato{
    margin-bottom: 40px;
}
.contato{
    font-size: 20px;
    margin-bottom: 3px;
}
.rua{
    font-weight: bold;
    margin-top: 40px;
    font-size: 20px;
}
a{
    color: black;
}
.copyright{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}